[submodule "dep/googletest"]
	path = dep/googletest
	url = ../../aeon-external-dependencies/googletest.git
	branch = submodule
[submodule "dep/cmake"]
	path = dep/cmake
	url = ../../aeon-engine/libaeon-cmake.git
	branch = master
[submodule "dep/curl"]
	path = dep/curl
	url = ../../aeon-external-dependencies/curl.git
	branch = submodule
[submodule "dep/rtmidi"]
	path = dep/rtmidi
	url = ../../aeon-external-dependencies/rtmidi.git
	branch = submodule
[submodule "dep/asio"]
	path = dep/asio
	url = ../../aeon-external-dependencies/asio.git
	branch = submodule
[submodule "dep/hdf5"]
	path = dep/hdf5
	url = ../../aeon-external-dependencies/hdf5.git
	branch = submodule
