[submodule "dep/googletest"]
	path = dep/googletest
	url = ../googletest.git
	branch = submodule
[submodule "dep/cmake"]
	path = dep/cmake
	url = ../libaeon-cmake.git
	branch = master
[submodule "dep/curl"]
	path = dep/curl
	url = ../curl.git
	branch = submodule
